#content {
    display: flex;
    flex-direction: column;
}

#content .space {
    flex-grow: 1;
}

#content .cell {
    border: 0.5px solid transparent;
}

#content .cell div {
    width: 26px;
    height: 26px;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
    font-size: 20px;
    user-select: none;
}

#content .cell div img {
    width: 24px;
    height: 24px;
}

#content .cell.flipped div {
    background-color: transparent;
}

#content .line {
    display: flex;
}

#content .digits {
    display: flex;
}

#content .digits img {
    width: 15px;
    height: 20px;
}

#content #counter {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid gray;
}